<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    
  <appSettings>

    <add key="Output.Compress" value="true"/>
    <add key="Output.Filename" value="Exception.log.txt"/>
    
  </appSettings>
</configuration>
